#app {
  align-content: center;
  width: 100%;
}

body {
  font-family: sans-serif;
}

#empty-table {
  margin-top: 8px;
}

thead {
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

tr {
  text-align: left;
}

#admin {
  text-align: center;
}

label {
  font-weight: bold;
}

#table-admin {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

fieldset {
  border-collapse: collapse;
  border: 2px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#image-input {
  width: 64px;
  height: 64px;
}
